.vertical-menu-box{
    position: relative;
}
.vertical-menu{
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    min-width: 0px;
    width: 0px;
    padding: 2rem 0rem;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
    transition: 500ms;
    min-height: 800px;
    height: 100vh;
    background-color: #070707;
}

.vertical-menu.active{
    min-width: 150px;
    padding: 2rem 1rem;
}

.vertical-menu .control-menu{
    position: absolute;
    top: 4px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('../../assets/images/icon-left.png');
    background-size: 32px;
    background-repeat:no-repeat;
    background-position: center;
    transition: 500ms;
    transform: rotate(180deg);
}

.vertical-menu .control-menu.active{
    left: 115px;
    transform: rotate(0deg);
}

.vertical-menu .control-menu:hover{
    background-image: url('../../assets/images/icon-left-hover.png');
}

.vertical-menu .logo img{
    width: 30px;
}

.vertical-menu .menu-list{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.vertical-menu .menu-item{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 300ms ease-in;
    background-size: 35px;
    background-repeat:no-repeat;
    background-position: center;
}

.menu-box .menu-item.menu-item-dashboard{
    background-image: url('../../assets/images/icon-dashboard.png');
}

.menu-box .menu-item.menu-item-dashboard.active{
    background-image: url('../../assets/images/icon-dashboard-hover.png');
}

.menu-box .menu-item.menu-item-dashboard:hover{
    background-image: url('../../assets/images/icon-dashboard-hover.png');
}

.menu-item.menu-item-calendar{
    background-image: url('../../assets/images/icon-calendar.png');
}

.menu-item.menu-item-calendar:hover{
    background-image: url('../../assets/images/icon-calendar-hover.png');
}

.menu-item.menu-item-family-plans{
    background-image: url('../../assets/images/icon-planner.png');
}

.menu-item.menu-item-family-plans:hover{
    background-image: url('../../assets/images/icon-planner-hover.png');
}

.menu-item.menu-item-shopping-list{
    background-image: url('../../assets/images/icon-baught.png');
}

.menu-item.menu-item-shopping-list:hover{
    background-image: url('../../assets/images/icon-baught-hover.png');
}

.user-set .menu-box{
    display: flex;
}

.user-set .menu-box .menu-item{
    background-size: 30px !important;
}

.user-set .menu-box .menu-item.menu-item-setting{
    background-image: url('../../assets/images/icon-setting.png');
}

.user-set .menu-box .menu-item.menu-item-setting:hover{
    background-image: url('../../assets/images/icon-setting-hover.png');
}

.user-set .menu-box .menu-item.menu-item-logout{
    background-image: url('../../assets/images/icon-logout.png');
}

.user-set .menu-box .menu-item.menu-item-logout:hover{
    background-image: url('../../assets/images/icon-logout-hover.png');
}