.form h2{
    text-align: center;
}

.form{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
}

.form button{
    display: block;
    margin: 1rem auto 0 auto;
}