.calendar{
    margin-top: 2rem;
    padding: 5px;
    flex: 1;
}

.month-calendar{
    height: 100%;
}

.date{
    display: flex;
    justify-content: right;
    align-items: center;
    border-top-right-radius: 15px;
}

.date .date-box{
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-control{
    width: 35px;
    height: clamp(28px, 2vw, 36px);
    background-image: url('../../assets/images/icon-left.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms ease-in all;
}

.year-with-months{
    text-align: center;
    padding: 5px;
}


.btn-control#right{
    transform: rotate(180deg);
}

.btn-control:hover{
    background-image: url('../../assets/images/icon-left-hover.png');
}

.week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    border-top: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
    border-top-left-radius: 15px;
}

.week p {
    text-align: center;
    font-weight: 600;
    border-right: 1px solid rgb(235, 235, 235);
    padding: 5px 0;
}

.week p:nth-child(7n) {
    border-right: none;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    height: calc(100% - 50px);
    border: 1px solid rgb(235, 235, 235);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.days .day-box{
    padding: 5px;
    text-align: center;
    border-right: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    position: relative;
}

.days .day-box:hover .add-record{
    display: block;
}

.days .day-box:nth-child(7n) {
    border-right: none;
}

.days .day-box:nth-last-child(-n+7) {
    border-bottom: none;
}

.days .day-box .add-record{
    cursor: pointer;
    border: 1px dashed rgb(199, 199, 199);
    border-radius: 5px;
    display: none;
    transition: 300ms ease all;
    font-size: 0.8rem;
    position: absolute;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 95%;
}

.days .day-box .add-record:hover{
    color: #91BF76;
    border-color: #91BF76;
}

.days .day-box .today{
    width: 25px;
    margin: 0 auto 5px auto;
    border-radius: 50%;
}

.days .day-box.active{
    position: relative;
    display: flex;
    flex-direction: column;
}

.days .day-box.active .event{
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: clamp(0.7rem, 2vw, 0.8rem);
    text-align: left;
    width: 95%;
    padding: 1px 0 1px 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.days .day-box.active .event.next-events{
    font-weight: 600 !important;
}

.days .day-box.active .event.next-events:hover{
    text-decoration: underline;
}

.days .day-box.active .event:hover:after {
    content:"";
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.104);
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
} 