@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0C2E2F;
}

:root{
  --border-radius: 15px;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.center-box{
  max-width: 1500px;
  margin: 0 auto;
}

.errorMessage{
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-radius: 15px;
  display: none;
}

/* ===== FONTS ===== */
h1{
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 600;
}

/* ===== BUTTONS ===== */
.btn{
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover{
  box-shadow: var(--box-shadow)
}

/* ===== COLORS ===== */

.cldrbl{
  color: #0C2E2F;
}

.clgr{
  color: #91BF76;
}

.clor{
  color: #FB9B4E;
}

.clbl{
  color: #17B3CA;
}

.clrd{
  color: #EF475E;
}

.clwt{
  color: #ffff;
}

.bggr{
  background-color: #91BF76;
}

.bggr-tr{
  background-color: #EAF3E7;
}

.bgor{
  background-color: #FB9B4E;
}

.bgbl{
  background-color: #17B3CA;
}

.bgrd{
  background-color: #EF475E;
}

.bgrd-tr{
  background-color: #fbbfc7;
}

.brgr{
  border: 1px solid #91BF76;
}

/* ===== ELEMENTS ===== */
a {
  color: black;
  text-decoration: none;
}

/* ===== FORM ===== */

form{
  align-items: center;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.inputBox{
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.inputBox input{
  width: 99%;
  height: 3rem;
  position: relative;
  background-color: transparent;
  outline: none;
  border-radius: 20px;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border: 1px solid rgb(199, 199, 199);
}

.inputBox input[type="text"]:focus-visible{
  outline: none;
}

.inputBox input[type="password"]:focus-visible{
  outline: none;
}

input:-webkit-autofill ~ span,
.inputBox input.valid ~ span,
.inputBox input:focus ~ span{
  font-size: 0.9rem;
  background-color: white;
  padding: 0 3px;
  transform: translateX(0px) translateY(-20px);
}

.inputBox span{
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 20px;
  color: rgb(199, 199, 199);
  font-size: 1rem;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.form-help{
  margin: 0.5rem 0;
  font-size: 0.8rem;
  color: rgb(199, 199, 199);
}

/* ===== ANIMATIONS ===== */
.angd{
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  -webkit-animation: growDown 300ms ease-in-out forwards;
}

.anop{
  animation: opacity 300ms ease-in-out forwards;
  transform-origin: top center;
  -webkit-animation: opacity 300ms ease-in-out forwards;
}

/* ===== FRAMES ===== */
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  100% {
      transform: scaleY(1)
  }
}

@keyframes opacity {
  0% {opacity: 0%;}
  100% {opacity: 100%}
}